:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: rgba(168, 93, 39, 0.93);
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.nav-bar{
  position: relative;
  width: 100%;
  height: 130px;
  margin: 0 0 0 0;
  background: rgba(1, 0, 0, 0.58);
  z-index: 25;
  overflow: hidden;
}

.buttonu-magic-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 36px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 26;
  border-radius: 1000px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 27;
}
.buttonu-magic-basic-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 1199px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 28;
  border-radius: 1000px;
}
.text-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 29;
}
.buttonu-magic-basic-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 910px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 30;
  border-radius: 1000px;
}
.text-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 31;
}
.buttonu-magic-basic-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 335px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 32;
  border-radius: 1000px;
}
.text-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 33;
}
.flex-row-ce {
  position: relative;
  width: 1342px;
  height: 692px;
  margin: 13px 0 0 31px;
  z-index: 24;
}
.acesta-este-un {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 342px;
  height: 86px;
  top: 0;
  left: 0;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 50px;
  font-weight: 700;
  line-height: 58.15px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.pard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 334px;
  height: 144px;
  top: 43px;
  left: 374px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 111.648px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.ghepard-7 {
  position: absolute;
  width: 455px;
  height: 507px;
  top: 96px;
  left: 887px;
  background: url(../assets/images/553cd9fc-460d-4e9d-8ca0-f5099cd53c29.png)
    no-repeat center;
  background-size: cover;
  border: 10px solid #ffefdc;
  z-index: 1;
}
.frame-button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 84px;
  top: 182px;
  right: 1191px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 4;
  border-radius: 20px;
}
.ge {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 73px;
  height: 74px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.gi-button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 84px;
  top: 182px;
  left: 233px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 12;
  border-radius: 20px;
}
.span-gi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 61px;
  height: 74px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
.frame-button-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 130px;
  height: 83px;
  top: 183px;
  left: 441px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 14;
  border-radius: 20px;
}
.span-ghe {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 116px;
  height: 74px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 15;
}
.frame-button-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 132px;
  height: 84px;
  top: 183px;
  left: 653px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 16;
  border-radius: 20px;
}
.span-che {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 112px;
  height: 74px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.div-rectangle {
  position: absolute;
  width: 773px;
  height: 218px;
  top: 323px;
  left: 12px;
  background: url(../assets/images/c6f42ce7-4ba8-45c7-be44-8309509293b2.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.div-el-este {
  position: relative;
  width: 759px;
  height: 218px;
  margin: 0 0 0 4px;
  font-family: Inika, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 41.696px;
  text-align: center;
  z-index: 19;
}
.span-empty {
  position: relative;
  color: #4c2102;
  font-family: Inika, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 41.696px;
  text-align: center;
}
.span-text {
  position: relative;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
}
.div-rectangle-a {
  position: absolute;
  width: 409.839px;
  height: 102px;
  top: 590px;
  left: 175.161px;
  background: url(../assets/images/b812d3ca-11ca-4dfd-a9b3-8b54cef6c368.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.span-kmh {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 413px;
  height: 70.473px;
  top: 605.764px;
  left: 172px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 65px;
  font-weight: 700;
  line-height: 70.473px;
  text-align: center;
  white-space: nowrap;
  z-index: 24;
}
.div-flex-row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 84px;
  margin: 57px 0 0 47px;
  z-index: 20;
  gap: 30px;
}

.frame-button-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 84px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 10;
  border-radius: 20px;
}

.button-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 182px;
  height: 84px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 20;
  border-radius: 20px;
}
.div-empty {
  flex-shrink: 0;
  position: relative;
  width: 83px;
  font-family: Judson, var(--default-font-family);
  font-size: 45px;
  font-weight: 700;
  line-height: 52.335px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 21;
}
.span-empty-b {
  position: relative;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: center;
}
.empty {
  position: relative;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 45px;
  font-weight: 700;
  line-height: 52.335px;
  text-align: center;
}

.empty-d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 83px;
  height: 65px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.frame-button-e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 176px;
  height: 84px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 8;
  border-radius: 20px;
}
.empty-f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 83px;
  height: 65px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.frame-button-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 178px;
  height: 84px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 6;
  border-radius: 20px;
}
.empty-11 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 185px;
  height: 68px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65.128px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
.fundal-ghepard {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../assets/images/797b807c7158102d80d4adb1d36431b119fc6bec.png)
    no-repeat center;
  background-size: cover;
  filter: blur(2px);
}

.frame-button-raspunde {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 250px;
  height: 84px;
  right: 0;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #efb271;
  border: none;
  z-index: 10;
  border-radius: 20px;
  margin-left: 160px;
  cursor: pointer;
}

.text-raspunde{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 185px;
  height: 68px;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65.128px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}

/* Astea ar trebui sa le puneti la fiecare pagina. Daca nu e ok design-ul puteti modifica linistiti */ 

.correct-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 40%;
  height: 40%;
}

.correct-popup p {
  margin-bottom: 10px;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  color:green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct-popup .close-button {
  background-color: #007bff;
  border-radius: 100%;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.correct-popup .close-button:hover {
  background-color: red;
  transition-duration: 0.5s;
}

.correct-popup .button-continua{
  padding: 8px 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  font-family: Judson, var(--default-font-family);
  color: white;
  background-color: #007bff;
  border: 0;
  border-radius: 10%;
}

.correct-popup .button-continua:hover{
  background-color: green;
  transition-duration: 0.5s;
}

.wrong {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 40%;
  height: 40%;
}

.wrong p {
  margin-bottom: 10px;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrong p2 {
  margin-bottom: 10px;
  font-family: Judson, var(--default-font-family);
  font-size: 24px;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrong .close-button {
  background-color: #007bff;
  border-radius: 100%;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.wrong .close-button:hover {
  background-color: red;
  transition-duration: 0.5s;
}