:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body{
  margin: 0
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(168, 93, 39, 0.93);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.fundal-cimpanzeu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -9px;
  background: url(../assets/images/a4727efec32a853a43bac74b6fc41d87a31d1871.png)
    no-repeat center;
  background-size: cover;
  filter: blur(2px);
}
.headerr {
  position: relative;
  width: 100%;
  height: 130px;
  margin: 0 0 0 -1px;
  background: rgba(1, 0, 0, 0.58);
  z-index: 27;
  overflow: hidden;
}
.buttonu-magic-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 36px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 28;
  border-radius: 1000px;
}
.text-buton-acasa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 35;
}
.buttonu-magic-basic-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 1199px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 30;
  border-radius: 1000px;
}
.text-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 31;
}
.buttonu-animal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 910px;
  cursor: pointer;
  background: linear-gradient(180deg, #b6c688, #b6c688);
  border: none;
  z-index: 32;
  border-radius: 1000px;
}
.text-buton-animal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 33;
}
.buttonu-acasaa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 35px;
  left: 335px;
  cursor: pointer;
  background: linear-gradient(180deg, #b6c688, #b6c688);
  border: none;
  z-index: 34;
  border-radius: 1000px;
}
.text-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 35;
}
.flex-row-a {
  position: relative;
  width: 1327px;
  height: 702px;
  margin: 13px 0 0 43px;
  z-index: 25;
}
.acesta-este-un-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 342px;
  height: 86px;
  top: 0;
  left: 0;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 50px;
  font-weight: 700;
  line-height: 58.15px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
.mpanzeu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 334px;
  height: 144px;
  top: 43px;
  left: 362px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 111.648px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.cimpanzeu-7 {
  position: absolute;
  width: 467px;
  height: 618px;
  top: 60px;
  left: 860px;
  background: url(../assets/images/5094c192-ab25-44c6-8440-14d59dbd17f5.png)
    no-repeat center;
  background-size: cover;
  border: 10px solid #f5f5f5;
  z-index: 1;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 84px;
  top: 182px;
  right: 1188px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #fbe1b1;
  border: none;
  z-index: 4;
  border-radius: 20px;
}
.chi-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 84px;
  top: 182px;
  left: 10px;
  padding: 10px 10px 10px 10px;
  background: #5c9149;
  z-index: 25;
  border-radius: 20px;
  border:0;
  cursor:pointer;
}

.chi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 61px;
  height: 74px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
}
.frame-888 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 84px;
  top: 182px;
  left: 221px;
  padding: 10px 10px 10px 10px;
  background: #5c9149;
  border: none;
  z-index: 25;
  border-radius: 20px;
  cursor:pointer;
}
.ci-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 61px;
  height: 74px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
}
.frame-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 84px;
  top: 182px;
  left: 641px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #5c9149;
  border: none;
  z-index: 14;
  border-radius: 20px;
}
.ce-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 69px;
  height: 74px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 15;
}
.frame-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 130px;
  height: 83px;
  top: 183px;
  left: 429px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #5c9149;
  border: none;
  z-index: 16;
  border-radius: 20px;
}
.gi-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 61px;
  height: 74px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}

.div-rectanglee {
  position: absolute;
  width: 773px;
  height: 218px;
  top: 323px;
  left: 0;
  background: url(../assets/images/f482027b-c82f-44ae-a534-8fa073f5ef60.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}

.rectangle {
  position: absolute;
  width: 773px;
  height: 218px;
  top: 323px;
  left: 0;
  background: url(../assets/images/f482027b-c82f-44ae-a534-8fa073f5ef60.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.acesta-este-un-b {
  position: relative;
  width: 759px;
  height: 218px;
  margin: 0 0 0 4px;
  font-family: Inika, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 41.696px;
  text-align: center;
  z-index: 19;
}
.nbsp-nbsp-nbsp {
  position: relative;
  color: #f5f5f5;
  font-family: Inika, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 41.696px;
  text-align: center;
}
.acesta-este-un-c {
  position: relative;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 41.696px;
  text-align: center;
}
.empty-spacee {
  position: relative;
  color: #4c2102;
  font-family: Inika, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
}
.empty-space-d {
  position: relative;
  color: #f5f5f5;
  font-family: Inika, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
}
.rectangle-e {
  position: absolute;
  width: 454px;
  height: 112px;
  top: 590px;
  left: 130px;
  background: url(../assets/images/c026abc0-7965-42cf-856d-b2f6cb79f3f5.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.percentage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 346px;
  height: 112px;
  top: 0;
  left: 54px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 111.648px;
  text-align: center;
  white-space: nowrap;
  z-index: 24;
}
.flex-row-fa {
  position: relative;
  width: 771px;
  height: 84px;
  margin: 47px 0 0 50px;
  z-index: 20;
}
.frame-f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 84px;
  top: 0;
  right: 632px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #5c9149;
  border: none;
  z-index: 20;
  border-radius: 20px;
}
.empty-div {
  flex-shrink: 0;
  position: relative;
  width: 136px;
  height: 75px;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74.432px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 21;
}
.number {
  position: relative;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 74.432px;
  text-align: center;
}
.empty-space-10 {
  position: relative;
  color: #4c2102;
  font-family: Judson, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 74.432px;
  text-align: center;
}
.frame-buttonn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 84px;
  top: 0;
  right: 418px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #5c9149;
  border: none;
  z-index: 10;
  border-radius: 20px;
}
.span-98 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 83px;
  height: 65px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.frame-button-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 84px;
  top: 0;
  right: 203px;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #5c9149;
  border: none;
  z-index: 8;
  border-radius: 20px;
}
.frame-button-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 139px;
  height: 84px;
  top: 0;
  right: 0;
  padding: 10px 22px 10px 18px;
  cursor: pointer;
  background: #5c9149;
  border: none;
  z-index: 6;
  border-radius: 20px;
}
.span-100 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 125px;
  height: 72px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 62px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}

.divv {
  position: relative;
  width: 759px;
  height: 218px;
  margin: 0 0 0 4px;
  font-family: Inika, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 41.696px;
  text-align: center;
  z-index: 19;
}
.spann {
  position: relative;
  color: #f5f5f5;
  font-family: Inika, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 41.696px;
  text-align: center;
}

.span-99 {
  position: relative;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
}

.span-999 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 125px;
  height: 72px;
  color: #f5f5f5;
  font-family: Judson, var(--default-font-family);
  font-size: 62px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
