:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}


.main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url(../assets/images/a33fc49420ea5a70d8f978c24e09131aaabc2539.png)
    no-repeat center;
  background-size: cover;
  overflow: hidden;
  z-index: 25;
}

.nav-div {
  position: relative;
  width: 100%;
  height: 130px;
  margin: 0 0 0 0;
  background: rgba(1, 0, 0, 0.58);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 170px;
  height: 67px;
  top: 30px;
  left: 10px;
  cursor: pointer;
  background: linear-gradient(180deg, #efb271, rgba(237, 176, 117, 0.87));
  border: none;
  z-index: 34;
  border-radius: 1000px;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 51px;
  color: #ffefdc;
  font-family: Judson, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  white-space: nowrap;
  z-index: 33;
}

.title-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 601px;
  height: 178px;
  margin: 69px 0 0 419px;
  color: #a7561c;
  font-family: Judson, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 69.78px;
  text-align: center;
  z-index: 3;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1115px;
  height: 227px;
  margin: 21px 0 0 162px;
  z-index: 31;
}
.img-2 {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/7f5051f91e50c23592808d44e004338c327afa97.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
  border-radius: 40px 40px 0 0;
}
.img-3 {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/46e899776788799ec41a10c1d21c4c76f830960d.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
  border-radius: 40px 40px 0 0;
}
.img-4 {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/34525229173e5d0a2083aac46c8163fb414d638d.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
  border-radius: 40px 40px 0 0;
}
.pic {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/45b7f10391713fd47d8977de48e962e7df5ea3d5.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  border-radius: 40px 40px 0 0;
}
.wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1109px;
  height: 38px;
  margin: -8px 0 0 165px;
  z-index: 32;
}
.box {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 20;
  border-radius: 0 0 40px 40px;
}
.text-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.box-2 {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 28;
  border-radius: 0 0 40px 40px;
}
.text-rhino {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 24;
  border-radius: 0 0 40px 40px;
}
.text-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 25;
}
.wrapper-3 {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 32;
  border-radius: 0 0 40px 40px;
}
.text-shark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 33;
}
.box-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 805px;
  height: 227px;
  margin: 79px 0 0 317px;
  z-index: 14;
}
.img-5 {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/508493480f21492b7e423b4b2d3ca36477bf4dd5.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
  border-radius: 40px 40px 0 0;
}
.img-6 {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/cb4802a8bf8e2502ff0224a92024ea9098412e8d.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  border-radius: 40px 40px 0 0;
}
.img-7 {
  flex-shrink: 0;
  position: relative;
  width: 185px;
  height: 227px;
  background: url(../assets/images/0e8151aad09dd9dfb772b1ccef43d70b85f3ef1e.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
  border-radius: 40px 40px 0 0;
}
.group-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 799px;
  height: 38px;
  margin: -8px 0 0 320px;
  z-index: 15;
}
.group-rabbit {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 7;
  border-radius: 0 0 40px 40px;
}
.text-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.box-4 {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 11;
  border-radius: 0 0 40px 40px;
}
.text-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.group-4 {
  flex-shrink: 0;
  position: relative;
  width: 179px;
  height: 38px;
  background: #7e3f12;
  z-index: 7;
  border-radius: 0 0 40px 40px;
}
.text-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 127px;
  height: 19px;
  top: 8px;
  left: 26px;
  color: #ffffff;
  font-family: Judson, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}

.fundal-pagina {
  position: absolute;
  width: 1440px;
  height: 1104px;
  background: url(../assets/images/a33fc49420ea5a70d8f978c24e09131aaabc2539.png)
    no-repeat center;
  background-size: cover;
  filter: blur(2px);
}